---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Wall Breakers" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Resume Scoring System <br />Powered by AI</h1>
              <p class="lead">
               In today’s fast-paced recruitment environment, manually reviewing resumes can be time-consuming and error-prone. Our hackathon project introduces an AI-powered Applicant Tracking System that evaluates candidates quickly and accurately. Leveraging Google’s Gemini API, the system analyzes resumes against job descriptions, generating structured insights such as overall fit scores, skill matching, and hiring recommendations. The result is a smarter, faster, and more objective approach to talent acquisition.
              </p>
            </div>
            <a href="/software-development" class="button w-button">Check it out</a>
          </main>
          <div class="projects-section">
            <!-- Software Development -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Technologies used here:</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Gemini API</div>
                    <div class="single-chip small-chip">Streamlit</div>
                    <div class="single-chip small-chip">Astrojs</div>
                    <div class="single-chip small-chip">Postgres</div>
                    <div class="single-chip small-chip">Azure</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>