---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
const projects = [
  {
    title: "AI-powered evaluation of resumes against job descriptions.",
    desc: [
      "Instantly identifies candidate strengths, skills, and experience fit Delivers clear, structured insights including overall fit score and recommendation Helps recruiters focus on the most qualified candidates"
    ],
    tech: ["Python", "Gemini  api", "Streamlit", "Postgres", "Azure"]
  },
  {
    title: "Bulk and single  Resume Processor",
    desc: [
      "Handles small or large batches efficiently with parallel processing or Batch API",
      "Automatically extracts key metrics and rankings for all candidates",
      "Saves hours of manual review time"
    ],
    tech: ["Python","FastAPI","asyncio","Postgres"]
  },
  {
    title: "Skills & Experience Matcher",
    desc: [
      "Scores required and preferred skills matches automatically",
      "Highlights missing critical skills and evaluates impact on role fit",
      "Provides detailed skill gap analysis for targeted candidate feedback"
    ],
    tech: ["Streamlit","Gemini  api", "Postgres", "Azure"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="How it works" />
  <body>
    <div class="content">
        <Sidebar selectedItem="how-it-works " />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>How it works</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
